MONGO_URL=mongodb://127.0.0.1:27017
MONGO_DB=SmartCare
PORT=3000

# Auth example:
# MONGO_URL=mongodb://smartcare_user:change_me@10.0.0.12:27017/SmartCare?authSource=admin
# MONGO_DB=SmartCare
# PORT=3000
